<!DOCTYPE html>
<html>
  <head>
    <title>Cat Facts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>"Y'all want some cat facts?</h1>
    
    <a href="/cats/fact">Get A Cat Fact</a>
    &nbsp;| &nbsp;
    <a href="/cats/facts">Get LOTS Of Cat Facts</a>
  </body>
</html>

