body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
  font-size: 20px;
}

li {
  max-width: 600px;
  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  text-align: center;
  list-style-type: none;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fact-container {
  display: flex;
 
  

}